@{
    ViewData["Title"] = "Danh sách người dùng";
}
@using DocTruyen.Service.VMs.User
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<UserVM>

<div class="container bg-light rounded-3">
    <div class="row pb-3 d-flex">
        <h3 class="text-center">Danh Sách Người Dùng</h3>
        <div class="col-md-5">
            <form method="post" class="d-inline-flex" asp-action="Search">
                <input class="search-input" type="text" style="margin-right:5px" placeholder="Tìm kiếm" name="keyWord">
                <input class="btn btn-outline-primary" type="submit" value="Tìm Kiếm">
            </form>
            @if (ViewContext.RouteData.Values["action"].ToString().Contains("Search"))
            {
                 <a class="btn btn-outline-primary" asp-action="Index"><i class="fa-solid fa-arrow-left"></i>&nbsp;Quay lại</a>
            }
        </div>
        <div class="col-md-4">
           
        </div>

        <div class="col-md-3 d-flex align-items-end">
            <a class="btn btn-outline-primary" asp-action="Create">Thêm người dùng mới</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="">
                <tr class="table-active ">
                    <th class="col-md-3">@Html.DisplayNameFor(model => model.First().ProfileImgURL)</th>
                    <th class="col-md-3">@Html.DisplayNameFor(model => model.First().UserName)</th>
                    <th class="col-md-4">@Html.DisplayNameFor(model => model.First().Email)</th>
                    <th class="col-md-2">Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="">
                        <td class="col-md-3">
                            <img class="rounded-circle" src="@user.ProfileImgURL" alt="@user.UserName" style="max-width: 150px" />
                        </td>
                        <td class="col-md-3">@user.UserName</td>
                        <td class="col-md-2">@user.Email</td>
                        <td class="col-md-4">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@user.Id" style="margin-right:5px">
                                <i class="bi bi-pencil-square"></i>
                                Sửa
                            </a>
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@user.Id" style="margin-right:5px">
                                <i class="bi bi-pencil-square"></i>
                                Chi tiết
                            </a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@user.Id">
                                <i class="bi bi-trash"></i>
                                Xóa
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pull-right">
            @Html.PagedListPager((IPagedList)Model,
            page => Url.Action("Index",
            new {page}),
            new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            LinkToPreviousPageFormat = "Trước",
            LinkToNextPageFormat = "Sau",
            LinkToFirstPageFormat = "Trang Đầu",
            LinkToLastPageFormat = "Trang Cuối",
            Display = PagedListDisplayMode.IfNeeded,
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always
            })
        </div>
    </div>
</div>